<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Amazed</key>
		<string>Lonely</string>
		<key>Emotion</key>
		<string>Abandoned</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Rejected</string>
		<key>Emotion</key>
		<string>Alienated</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Interested</string>
		<key>Emotion</key>
		<string>Amused</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Bored</string>
		<key>Emotion</key>
		<string>Apathetic</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Guilty</string>
		<key>Emotion</key>
		<string>Ashamed</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Amazed</string>
		<key>Emotion</key>
		<string>Astonished</string>
		<key>Surprised</key>
		<string>Surprised</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Avoidance</string>
		<key>Emotion</key>
		<string>Aversion</string>
		<key>Surprised</key>
		<string>Disgust</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Amazed</string>
		<key>Emotion</key>
		<string>Awe</string>
		<key>Surprised</key>
		<string>Surprised</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Proud</string>
		<key>Emotion</key>
		<string>Confident</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Powerful</string>
		<key>Emotion</key>
		<string>Courageous</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Awful</string>
		<key>Emotion</key>
		<string>Detestable</string>
		<key>Surprised</key>
		<string>Disgust</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Hurt</string>
		<key>Emotion</key>
		<string>Devastated</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Confused</string>
		<key>Emotion</key>
		<string>Disillusioned</string>
		<key>Surprised</key>
		<string>Surprised</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Startled</string>
		<key>Emotion</key>
		<string>Dismayed</string>
		<key>Surprised</key>
		<string>Surprised</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Humiliated</string>
		<key>Emotion</key>
		<string>Disrespected</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Excited</string>
		<key>Emotion</key>
		<string>Eager</string>
		<key>Surprised</key>
		<string>Surprised</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Hurt</string>
		<key>Emotion</key>
		<string>Embrassed</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Depressed</string>
		<key>Emotion</key>
		<string>Empty</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Excited</string>
		<key>Emotion</key>
		<string>Energetic</string>
		<key>Surprised</key>
		<string>Surprised</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Mad</string>
		<key>Emotion</key>
		<string>Enraged</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Joyful</string>
		<key>Emotion</key>
		<string>Estactic</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Scared</string>
		<key>Emotion</key>
		<string>Frightened</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Accepted</string>
		<key>Emotion</key>
		<string>Fullfilled</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Mad</string>
		<key>Emotion</key>
		<string>Furious</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Avoidance</string>
		<key>Emotion</key>
		<string>Hesitant</string>
		<key>Surprised</key>
		<string>Disgust</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Peaceful</string>
		<key>Emotion</key>
		<string>Hopeful</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Aggressive</string>
		<key>Emotion</key>
		<string>Hostile</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Abandoned</string>
		<key>Emotion</key>
		<string>Ignored</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Proud</string>
		<key>Emotion</key>
		<string>Important</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Rejected</string>
		<key>Emotion</key>
		<string>Inadequate</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Rejected</string>
		<key>Emotion</key>
		<string>Inadequate</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Bored</string>
		<key>Emotion</key>
		<string>Indifferent</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Insecure</string>
		<key>Emotion</key>
		<string>Inferior</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Insecure</string>
		<key>Emotion</key>
		<string>Inferior</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Frustrated</string>
		<key>Emotion</key>
		<string>Infuriated</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Interested</string>
		<key>Emotion</key>
		<string>Inquistive</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Threatened</string>
		<key>Emotion</key>
		<string>Insecure</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Submissive</string>
		<key>Emotion</key>
		<string>Insignificant</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Optimistic</string>
		<key>Emotion</key>
		<string>Inspired</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Frustrated</string>
		<key>Emotion</key>
		<string>Irritated</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Lonely</string>
		<key>Emotion</key>
		<string>Isolated</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Threatened</string>
		<key>Emotion</key>
		<string>Jealous</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Disapproval</string>
		<key>Emotion</key>
		<string>Judgemental</string>
		<key>Surprised</key>
		<string>Disgust</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Joyful</string>
		<key>Emotion</key>
		<string>Liberated</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Disapproval</string>
		<key>Emotion</key>
		<string>Loathing</string>
		<key>Surprised</key>
		<string>Disgust</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Peaceful</string>
		<key>Emotion</key>
		<string>Loving</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Optimistic</string>
		<key>Emotion</key>
		<string>Open</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Anxious</string>
		<key>Emotion</key>
		<string>Overwhenlmed</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Confused</string>
		<key>Emotion</key>
		<string>Perpelxed</string>
		<key>Surprised</key>
		<string>Surprised</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Intimate</string>
		<key>Emotion</key>
		<string>Playful</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Despair</string>
		<key>Emotion</key>
		<string>Powerless</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Powerful</string>
		<key>Emotion</key>
		<string>Provocative</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Aggressive</string>
		<key>Emotion</key>
		<string>Provoked</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Guilty</string>
		<key>Emotion</key>
		<string>Remorseful</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Disappointed</string>
		<key>Emotion</key>
		<string>Repugnant</string>
		<key>Surprised</key>
		<string>Disgust</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Hateful</string>
		<key>Emotion</key>
		<string>Resentrful</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Accepted</string>
		<key>Emotion</key>
		<string>Respected</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Disappointed</string>
		<key>Emotion</key>
		<string>Revolted</string>
		<key>Surprised</key>
		<string>Disgust</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Awful</string>
		<key>Emotion</key>
		<string>Revulsion</string>
		<key>Surprised</key>
		<string>Disgust</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Humiliated</string>
		<key>Emotion</key>
		<string>Ridiculed</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Crictical</string>
		<key>Emotion</key>
		<string>Sarcastic</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Intimate</string>
		<key>Emotion</key>
		<string>Sensitive</string>
		<key>Surprised</key>
		<string>Happy</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Startled</string>
		<key>Emotion</key>
		<string>Shocked</string>
		<key>Surprised</key>
		<string>Surprised</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Crictical</string>
		<key>Emotion</key>
		<string>Spectical</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Distant</string>
		<key>Emotion</key>
		<string>Suspicious</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Scared</string>
		<key>Emotion</key>
		<string>Terrified</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Abandoned</string>
		<key>Emotion</key>
		<string>Victimized</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Hateful</string>
		<key>Emotion</key>
		<string>Violated</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Despair</string>
		<key>Emotion</key>
		<string>Vulnerable</string>
		<key>Surprised</key>
		<string>Sad</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Distant</string>
		<key>Emotion</key>
		<string>Withrawn</string>
		<key>Surprised</key>
		<string>Anger</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Anxious</string>
		<key>Emotion</key>
		<string>Worried</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
	<dict>
		<key>Amazed</key>
		<string>Submissvie</string>
		<key>Emotion</key>
		<string>Worthless</string>
		<key>Surprised</key>
		<string>Fear</string>
	</dict>
</array>
</plist>
