<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Apple</string>
	<string>Orange</string>
	<string>Pinapple</string>
	<string>banana</string>
	<string>Strawberry</string>
	<string>aasdfssdadfe</string>
	<string>asdfa</string>
	<string>knfgds</string>
	<string>ttkhjfk</string>
	<string>dfgerote</string>
</array>
</plist>
